.collection-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title {
        font-size: 28x;
        margin-bottom: 25px;
    }

    .collection-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        & .collection-item {
            margin-bottom: 30px;
        }
    }
}